

#main-widget {
    width: 550px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.70);
    /*background-color: black;*/
    padding: 10px;
    border: 3px solid darkgray;
    border-collapse: collapse;
}

#main-widget  h1 {
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    color: #ffc107;
    font-family: Verdana, serif;
    -webkit-text-stroke: 1.25px black;
}

.form-widget {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.form {
    padding: 10px;
}

.fill-form {
    padding: 10px;
}

.email-component {
    margin-bottom: 5px;
}

.pw-component {
    margin-top: 5px;
}

.label-component {
    font-size: 18px;
    font-weight: bold;
    color: #ffc107;
}

.input-component {
    font-size: 16px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 0;
}

.input-component:focus {
    outline: none;
}

.submit-form {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border-width: 0;
    margin: 0;
    color: white;
    background-color: rgba(74, 74, 74, 0.4);
}

.submit-btn:hover {
    cursor: pointer;
    font-size: 16px;
    color: black;
    width: 80px;
    height: 40px;
    background-color: #ffc107;
}

.signup-href {
    margin: 0;
    text-decoration: underline;
    color: lightseagreen;
}

.signup-href:hover {
    cursor: pointer;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}