
.genre-browse {
    display: flex;
    align-items: center;
    justify-content: center;
}
.genre-list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
}

.genre-list > h4{
    text-align: center;
    color: #ffc107;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.genre-list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

.alpha-list {
    display: grid;
    text-align: center;
    grid-template-columns: 25px 25px 25px 25px;
}

.alpha-list > h4{
    display: inline;
    color: #ffc107;
    margin: 0;

}

.alpha-list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

.num-list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    text-align: center;
}

.num-list > h4{
    color: #ffc107;
}

.num-list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

