.advanced-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-item {
    margin: 0 5px;
}

.search-component form {
    display: flex;
    align-items: center;
}

.search-component > label{
    margin: 0 0.25rem;
    outline: none;
}

.search-component input,button{
    padding: 0 3px;
    height: 35px;
    border-radius: 5px;
}

.search-component input:focus,button:focus{
    outline: none;
}

.search-component input[type=text],button[type=submit]{
    padding: 2px 6px;
}

#search-title {
    width: 300px;
}

#search-year {
    width: 100px;
}

#search-director {
    width: 225px;
}

#search-star {
    width: 225px;
}

.search-component button{
    width: 35px;
    margin-left: 6px;
    color: #ff8c00;
    background: azure;
}

.search-component button:hover{
    cursor: pointer;
    color: #ffc107!important;
    background: darkgray;
}

.genre-browse {
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre-list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
}

.genre-list > h4{
    text-align: center;
    color: #ffc107;
    margin: 0;
    padding-bottom: 30px;
}

.title-browse {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alphanum-list {
    display: grid;
    text-align: center;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.alphanum-list > h4 {
    display: inline-block;
    color: #ffc107;
    margin: 0;
    padding-bottom: 30px;
}

