
.genre_browse {
    display: flex;
    align-items: center;
    justify-content: center;
}
#genre_list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
}

#genre_list > h4{
    text-align: center;
    color: #ffc107;
    margin: 0;
    padding: 0;
}

#genre_list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

.alpha_list {
    display: grid;
}

.alpha_list > h4{
    display: inline-block;
    color: #ffc107;
    margin: 0;

}

.alpha_list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

.num_list {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
}

.num_list > h4{
    color: #ffc107;
}

.num_list > h4:hover {
    color: #d59e01;
    cursor: pointer;
}

