.navbar {
    display: flex;
    align-items: center;
}

#search-component {
    display: flex;
    align-items: center;
}

#search-component > label{
    margin: 0 0.25rem;
    outline: none;
}

#search-component > label > input{
    padding: 0 3px;
    height: 35px;
    border-radius: 5px;
}

#search-component > label > input:focus{
    outline: none;
}

#search-component > label > input[type=text]{
    padding: 2px 6px;
}

#search-title {
    width: 300px;
}

#search-year {
    width: 100px;
}

#search-director {
    width: 225px;
}

#search-star {
    width: 225px;
}

.page-headers{
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, serif;
    color: darkblue;
    padding-bottom: 10px;
    -webkit-text-stroke: 1.25px black;
}
.logo {
    display: flex;
    background-color: #ff8c00;
    width: 27px;
    height: 27px;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-right: 5px;
    border-radius: 3px;
}

.fabflix{
    font-family: Luminari, serif;
    color: seashell;
}

.background{
    background-color: lightslategray;
}

.page-titles{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: darkblue;
    font-family: Verdana, serif;
    -webkit-text-stroke: 1.25px black;
}

.page-title-sub-info {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    color: darkblue;
    font-family: Verdana, serif;
    -webkit-text-stroke: 0.75px black;
}

thead {
    font-family: Helvetica;
}

tbody {
    color:white;
    font-family: 'Montserrat', sans-serif;
}

table{
    border: 3px solid darkgray;
    border-collapse: collapse;
}


